.product-item {
  margin-bottom: 20px;
}

.product-item__actions {
  text-align: center;
}

.product-item__card {
  width: auto;
}

.product-item__price {
  align-self: flex-start;
  margin: 0;
}

.product-item__title {
  flex-flow: column wrap;
  padding-bottom: 0;
}

.product-item__title-text {
  align-self: flex-start;
  color: $orange;
}
