.cart__back-button {
  line-height: inherit;
}

.cart__list-items {
  width: 100%;
  border-collapse: collapse;
}

.cart__subtotal {
  font-size: 18px;
  line-height: normal;
  margin: 0;
  text-align: center;
}

.cart__checkout-wrapper {
  text-align: right;
}

.cart__submit-button {
  margin-top: 20px;
}

.cart__go-home-button-wrapper {
  margin-top: 10px;
  text-align: center;
}

